
<!-- find serach -->
<div class="site-blocks-cover" style="background-image: url(assets/images/hero_bg.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row row-custom align-items-center">
      <div class="col-md-10">
        <h1 class="mb-2 text-wight w-75"><span class="font-weight-bold">Largest Job</span> Site On The Net</h1>
        <div class="job-search">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active py-3" id="pills-job-tab" data-toggle="pill" href="#pills-job" role="tab" aria-controls="pills-job" aria-selected="true"><span class="text-light font-weight-bold">Find A Job </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-3" id="pills-candidate-tab" data-toggle="pill" href="#pills-candidate" role="tab" aria-controls="pills-candidate" aria-selected="false"><span class="text-light font-weight-bold"> Find A Candidate </span></a>
            </li>
          </ul>
          <div class="tab-content bg-white p-4 rounded" id="pills-tabContent">
            <div class="tab-pane fade show active " id="pills-job" role="tabpanel" aria-labelledby="pills-job-tab">
              <form action="#" method="post">
                <div class="row">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="text" class="form-control" placeholder="eg. Web Developer">
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="select-wrap">
                      <span class="icon-keyboard_arrow_down arrow-down"></span>
                      <select name="" id="" class="form-control">
                        <option value="">Category</option>
                        <option value="fulltime">Full Time</option>
                        <option value="fulltime">Part Time</option>
                        <option value="freelance">Freelance</option>
                        <option value="internship">Internship</option>
                        <option value="internship">Termporary</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="text" class="form-control form-control-block search-input" id="autocomplete" placeholder="Location" onFocus="geolocate()">
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="submit" class="btn btn-primary btn-block" value="Search">
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="pills-candidate" role="tabpanel" aria-labelledby="pills-candidate-tab">
              <form action="#" method="post">
                <div class="row">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="text" class="form-control" placeholder="eg. Carl Smith">
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="select-wrap">
                      <span class="icon-keyboard_arrow_down arrow-down"></span>
                      <select name="" id="" class="form-control">
                        <option value="">Category</option>
                        <option value="fulltime">Full Time</option>
                        <option value="fulltime">Part Time</option>
                        <option value="freelance">Freelance</option>
                        <option value="internship">Internship</option>
                        <option value="internship">Termporary</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="text" class="form-control form-control-block search-input" id="autocomplete" placeholder="Location" onFocus="geolocate()">
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="submit" class="btn btn-primary btn-block" value="Search">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<!-- End of search -->


<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-start text-left mb-5">
      <div class="col-md-9" data-aos="fade">
        <h2 class="font-weight-bold text-black">Recent Jobs</h2>
      </div>
      <div class="col-md-3" data-aos="fade" data-aos-delay="200">
        <a href="#" class="btn btn-primary py-3 btn-block"><span class="h5">+</span> Post a Job</a>
      </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">

       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Frontend Development</h2>
             <div class="badge-wrap">
              <span class="bg-primary text-white badge py-2 px-4">Partime</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Facebook, Inc.</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>

          <div class="ml-auto">
            <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
            <a href="job-single.html" class="btn btn-primary py-2">Apply Job</a>
          </div>
       </div>

     </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">
       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Full Stack Developer</h2>
             <div class="badge-wrap">
              <span class="bg-warning text-white badge py-2 px-4">Full Time</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Google, Inc.</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>

          <div class="ml-auto">
            <a href="#" class="btn btn-danger rounded-circle btn-favorite active"><span class="icon-heart"></span></a>
            <a href="job-single.html" class="btn btn-primary py-2">Apply Job</a>
          </div>

       </div>
     </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">
       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Open Source Interactive Developer</h2>
             <div class="badge-wrap">
              <span class="bg-info text-white badge py-2 px-4">Freelance</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">New York Times</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>
          
          <div class="ml-auto">
            <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
            <a href="job-single.html" class="btn btn-primary py-2">Apply Job</a>
          </div>

       </div>
     </div>
    </div>
    
    <div class="row" data-aos="fade">
     <div class="col-md-12">

       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Frontend Development</h2>
             <div class="badge-wrap">
              <span class="bg-secondary text-white badge py-2 px-4">Internship</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Facebook, Inc.</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>

          <div class="ml-auto">
            <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
            <a href="job-single.html" class="btn btn-primary py-2">Apply Job</a>
          </div>
       </div>

     </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">
       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Full Stack Developer</h2>
             <div class="badge-wrap">
              <span class="bg-warning text-white badge py-2 px-4">Full Time</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Google, Inc.</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>

          <div class="ml-auto">
            <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
            <a href="job-single.html" class="btn btn-primary py-2">Apply Job</a>
          </div>

       </div>
     </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">
       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Open Source Interactive Developer</h2>
             <div class="badge-wrap">
              <span class="bg-danger text-white badge py-2 px-4">Temporary</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">New York Times</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>
          
          <div class="ml-auto">
            <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
            <a href="job-single.html" class="btn btn-primary py-2">Apply Job</a>
          </div>

       </div>
     </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">

       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Frontend Development</h2>
             <div class="badge-wrap">
              <span class="bg-primary text-white badge py-2 px-4">Partime</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Facebook, Inc.</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>

          <div class="ml-auto">
            <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
            <a href="job-single.html" class="btn btn-primary py-2">Apply Job</a>
          </div>
       </div>

     </div>
    </div>


    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <div class="site-block-27">
          <ul>
            <li><a href="#"><i class="icon-keyboard_arrow_left h5"></i></a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="icon-keyboard_arrow_right h5"></i></a></li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>    

