
<section id="content" class="pn animated fadeIn">
    <div class="center-block mw800 text-center p20">
        <img src="assets/img/pages/404.png" alt="" class="img-responsive mauto" />
        <h2 class="mt40 mb20">The requested page cannot be found</h2>
        <h6>
            Can't find what you need ?<br />
            Take a moment and do a search below or start from <a href="#">our homepage</a>.
        </h6>
    </div>
    <div class="center-block p20 mw400 text-center">
        <form class="text-center" role="search">    
            <div class="input-group add-on mw300">
                <input type="text" class="form-control" placeholder="Search..." value="">
                <div class="input-group-btn">
                    <button class="btn btn-big btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
