<div class="chute chute-center">
  <div class="allcp-form theme-primary mw1000 center-block pb175">

      <div class="panel">
          <form method="post" action="http://myadmin-html.axiomthemes.com/" id="allcp-form">
             <div class="panel-heading">
                <div class="panel-title">
                    Add New User ?
                      </div>
                        </div>
                          <div class="panel-body">


<!-- first_name last_name -->

                      <div class="section row mhn10">
                          <div class="col-md-6 ph10 mb5">
                            <h4> First Name: </h4>
                              <label for="firstname" class="field prepend-icon">
                                  <input type="text" name="firstname" id="firstname" class="gui-input"
                                      placeholder="First name..." required>
                                        <span class="field-icon">
                                          <i class="fa fa-user"></i>
                                            </span>
                                              </label>
                                            </div>

                                          <div class="col-md-6 ph10 mb5">
                                            <h4> Last Name: </h4>
                                            <label for="lastname" class="field prepend-icon">
                                              <input type="text" name="lastname" id="lastname" class="gui-input"
                                              placeholder="Last name..." required>
                                              <span class="field-icon">
                                                <i class="fa fa-user"></i>
                                              </span>
                                            </label>
                                          </div>
                                        </div>



                            <!-- password -->
                            <div class="section row mhn10">
                              <div class="col-md-6 ph10 mb5">
                              <h4> Password: </h4>
                                <label for="password" class="field prepend-icon">
                                    <input type="password" name="password" id="password" class="gui-input"
                                           placeholder="Create password" required>
                                    <span class="field-icon">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                </label>
                            </div>

                            <div class="col-md-6 ph10 mb5">
                              <h4> Repeat Password:</h4>
                                <label for="repeatPassword" class="field prepend-icon">
                                    <input type="password" name="repeatPassword" id="repeatPassword"
                                           class="gui-input" placeholder="Repeat password" required>
                                    <span class="field-icon">
                                      <i class="fa fa-unlock"></i>
                                    </span>
                                </label>
                            </div>
                          </div>


                          <!--email  -->

                          <div class="section">
                            <h4> Email: </h4>
                            <label for="useremail" class="field prepend-icon">
                                <input type="email" name="useremail" id="useremail" class="gui-input"
                                       placeholder="Email address" required>
                                          <span class="field-icon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                </label>
                            </div>


                            <!-- phone -->
                            <div class="section">
                              <h4> Phone Number: </h4>
                                <label for="home_phone" class="field prepend-icon">
                                    <input type="tel" name="home_phone" id="home_phone"
                                           class="gui-input phone-group" placeholder="Phone number">
                                    <span class="field-icon">
                                      <i class="fa fa-phone"></i>
                                    </span>
                                </label>
                            </div>
                            

                                <!-- files of director -->
                                <div class="section" id="spy2">
                                    <h4>Upload File:</h4>
                                    <label for="file1" class="field prepend-icon file file-fw">
                                        <span class="button">Choose File</span>
                                        <input type="file" class="gui-file" name="upload1" id="file1"
                                               onChange="document.getElementById('uploader1').value = this.value;">
                                        <input type="text" class="gui-input" id="uploader1" placeholder="File Select">
                                    </label>
                                </div>
                            </div>

                  <div class="panel-footer text-right">
                      <button type="submit" class="btn btn-bordered btn-primary mb5"> Validate Form</button>
                      <button type="reset" class="btn btn-bordered mb5"> Cancel</button>
                    </div>
          </form>
      </div>
    </div>
</div>
