<aside id="sidebar_left" class="nano nano-light affix">
  <div class="sidebar-left-content nano-content">
    <br><br>

   <header class="sidebar-header">

    <div class="sidebar-widget author-widget">
     <div class="media">
      <a class="media-left profile-online" href="#">
       <img src="assets/img/avatars/profile_avatar.jpg" class="img-responsive" alt="">
      </a>
      <div class="media-body">
       <div>Welcome</div>
       <div class="media-author"> {{USER.email }} </div>
      </div>
     </div>
    </div>
   </header>


   <ul class="nav sidebar-menu">
    <li class="active">
     <a href="/home">
      <span class="sidebar-title">Dashboards</span>
      <span class="sb-menu-icon fa fa-home"></span>
     </a>
    </li>
    <li>
     <a class="new-email" href="email-layouts.html">
      <span class="sidebar-title">New Emails</span>
      <span class="sb-menu-icon fa fa-envelope"></span>
     </a>
    </li>
    <li>
     <a href="basic-calendar.html">
      <span class="sidebar-title">Calendar</span>
      <span class="sb-menu-icon fa fa-calendar"></span>
     </a>
    </li>


    <!-- Gestion Offers -->
    <li>
     <a class="accordion-toggle">
      <span class="sidebar-title"> Setting Offers </span>
      <span class="caret"></span>
      <span class="sb-menu-icon fa fa-share-square-o"></span>
     </a>
     <ul class="nav sub-nav">
      <li>
       <a routerLink="/home/setting-offer/add-offer">
         Add Offer
       </a>
      </li>
      <li>
       <a routerLink="/home/setting-offer/list-offer">
        List Offers
       </a>
      </li>
     </ul>
    </li>


    <!-- gestion Directors -->
    <li>
     <a class="accordion-toggle">
      <span class="sidebar-title"> Setting Directors </span>
      <span class="caret"></span>
      <span class="sb-menu-icon fa fa-share-square-o"></span>
     </a>
     <ul class="nav sub-nav">
      <li>
       <a routerLink="/home/setting-director/add-director">
        Add Directors
       </a>
      </li>
      <li>
       <a routerLink="/home/setting-director/list-director">
        List Directors
       </a>
      </li>
     </ul>
    </li>

    <!-- gestion candiate/user -->
    <li>
     <a class="accordion-toggle">
      <span class="sidebar-title"> Setting User </span>
      <span class="caret"></span>
      <span class="sb-menu-icon fa fa-share-square-o"></span>
     </a>
     <ul class="nav sub-nav">
      <li>
       <a routerLink="/home/setting-user/add-user">
        Add User
       </a>
      </li>
      <li>
       <a routerLink="/home/setting-user/list-user">
        List User
       </a>
      </li>
     </ul>
    </li>



    <li>
     <a href="doc/index.html">
      <span class="sidebar-title">Documentation</span>
      <span class="sb-menu-icon fa fa-book"></span>
     </a>
    </li>

   </ul>

</div>
</aside>
