<div id="main">

<!-- header -->
<app-header></app-header>

<!--sidieback-->

<app-sideback></app-sideback>


<section id="content_wrapper">

  <!-- Home -> Dashboard -->
  <header id="topbar" class="alt">
   <div class="topbar-left">
    <ol class="breadcrumb">
     <li class="breadcrumb-icon">
      <a href="index-2.html">
       <span class="fa fa-home"></span>
      </a>
     </li>
     <li class="breadcrumb-link">
      <a href="index-2.html">Home</a>
     </li>
     <li class="breadcrumb-current-item">Dashboard</li>
    </ol>
   </div>
</header>
<script src="assets/js/pages/management-tools-modals.js"></script>

<app-layout></app-layout>


</section>

<app-footer></app-footer>

</div>
